Manifest.toml
src/atom-tracing.jl
src/higher-order-catalyst.jl
src/old/flow-graphs.jl
src/old/higher-order-gen2.jl
src/old/higher-order-generalization.jl
src/old/higher-order-simulation.jl
src/old/misc.jl
src/old/scn.jl


